Data Cleaning And Data Preparation of MagicBricks New Delhi Flat Prices 2023

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
Flat_prices = pd.read_csv(r"C:\Users\vishw\OneDrive\Desktop\Python Data Analyst Project\MagicBricks New Delhi Flat Prices 2023\top_all.csv")

In [38]:
Flat_prices.head()

,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,Floor,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity
0,₹6.0 Cr,3,3Beds,3Baths,NaN,1 Covered Parking,2300,DLF Ltd.,DLF One Midtown,NaN,New Property,Under Construction,2.0,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified,24 Hours Available,No/Rare Powercut
1,₹4.75 Cr,3,3Beds,5Baths,NaN,2 Covered Parking,2250,Indus Home,Luxury Builder Floor,NaN,New Property,Ready to Move,NaN,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN,24 Hours Available,No/Rare Powercut
2,₹4.50 Cr,3,3Beds,4Baths,NaN,1 Covered Parking,1872,Metro Buildtech,Premium Builder Floor,NaN,New Property,Ready to Move,NaN,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble",24 Hours Available,No/Rare Powercut
3,₹1.70 Cr,3,3Beds,2Baths,4Balconies,1 Covered Parking,1450,Cooperative Group Housing Society,Nishat Apartment,3 (Out of 10 Floors),Resale,Ready to Move,2.0,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble,24 Hours Available,No/Rare Powercut
4,₹75.0 Lac,3,3Beds,3Baths,1Balcony,1 Covered Parking,1350,Delhi Development Authority DDA,DDA Freedom Fighter Enclave,3 (Out of 5 Floors),New Property,Ready to Move,NaN,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles",24 Hours Available,No/Rare Powercut

In [39]:
Flat_prices.tail()

,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,Floor,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity
981,₹85.0 Lac,725 Sq-ft 2,2Beds,2Baths,NaN,NaN,635,NaN,NaN,1 (Out of 4 Floors),Resale,Ready to Move,NaN,"26., Vikaspuri Block G, New Delhi - West, Delh...",Unfurnished,Mosaic,24 Hours Available,No/Rare Powercut
982,₹32.0 Lac,2,2Beds,NaN,1Balcony,1 Covered Parking,350,Delhi Development Authority DDA,DDA LIG Flats,Ground (Out of 4 Floors),Resale,Ready to Move,NaN,"DDA LIG Flats Sector 26 Dwarka Delhi, Bharthal...",Furnished,Ceramic Tiles,24 Hours Available,No/Rare Powercut
983,₹2.50 Cr,1850 Sq-ft 3,3Beds,3Baths,1Balcony,NaN,1850,NaN,NaN,2 (Out of 3 Floors),Resale,Ready to Move,NaN,"7852 punjabi bagh west, flat no., Punjabi Bagh...",Unfurnished,Mosaic,24 Hours Available,No/Rare Powercut
984,₹50.0 Lac,150 Sq-ft 2,2Beds,2Baths,1Balcony,NaN,150,NaN,NaN,3 (Out of 4 Floors),Resale,Ready to Move,NaN,"E2/42 3rd Floor Nag complex, Paryavaran Compl...",Semi-Furnished,NaN,NaN,NaN
985,₹2.25 Cr,2,2Beds,2Baths,2Balconies,NaN,1250,NaN,NaN,2 (Out of 4 Floors),Resale,Ready to Move,NaN,"East Of Kailash Block E, New Delhi - South, De...",Unfurnished,NaN,NaN,NaN

In [40]:
Flat_prices.shape

(986, 18)

In [41]:
Flat_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  986 non-null    object
 1   BHK                    986 non-null    object
 2   beds                   986 non-null    object
 3   baths                  921 non-null    object
 4   balcony                715 non-null    object
 5   covered-parking        341 non-null    object
 6   Carpet Area            986 non-null    object
 7   Developer              307 non-null    object
 8   Project                357 non-null    object
 9   Floor                  972 non-null    object
 10  Transaction type       986 non-null    object
 11  Status                 927 non-null    object
 12  Lifts                  112 non-null    float64
 13  Address                986 non-null    object
 14  Furnishing             984 non-null    object
 15  Flooring               724 non-null    object
 16  Water Availability     579 non-null    object
 17  Status of Electricity  583 non-null    object
dtypes: float64(1), object(17)
memory usage: 138.8+ KB

In [42]:
Flat_prices.isna().sum()

Price                      0
BHK                        0
beds                       0
baths                     65
balcony                  271
covered-parking          645
Carpet Area                0
Developer                679
Project                  629
Floor                     14
Transaction type           0
Status                    59
Lifts                    874
Address                    0
Furnishing                 2
Flooring                 262
Water Availability       407
Status of Electricity    403
dtype: int64

In [43]:
Flat_prices.drop(["Water Availability","Status of Electricity","Lifts","Project","Developer","covered-parking"],axis=1,inplace=True)

In [44]:
Flat_prices.head()

,Price,BHK,beds,baths,balcony,Carpet Area,Floor,Transaction type,Status,Address,Furnishing,Flooring
0,₹6.0 Cr,3,3Beds,3Baths,NaN,2300,NaN,New Property,Under Construction,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified
1,₹4.75 Cr,3,3Beds,5Baths,NaN,2250,NaN,New Property,Ready to Move,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN
2,₹4.50 Cr,3,3Beds,4Baths,NaN,1872,NaN,New Property,Ready to Move,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble"
3,₹1.70 Cr,3,3Beds,2Baths,4Balconies,1450,3 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble
4,₹75.0 Lac,3,3Beds,3Baths,1Balcony,1350,3 (Out of 5 Floors),New Property,Ready to Move,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles"

In [45]:
Flat_prices.isna().sum()

Price                 0
BHK                   0
beds                  0
baths                65
balcony             271
Carpet Area           0
Floor                14
Transaction type      0
Status               59
Address               0
Furnishing            2
Flooring            262
dtype: int64

In [46]:
Flat_prices.baths.unique()

array(['3Baths', '5Baths', '4Baths', '2Baths', nan], dtype=object)

In [51]:
Flat_prices["baths"] = Flat_prices["baths"].str.replace('Baths','')

In [52]:
Flat_prices.baths.unique()

array(['3', '5', '4', '2', nan], dtype=object)

In [55]:
Flat_prices["baths"] = Flat_prices.baths.fillna("1")

In [56]:
Flat_prices.baths.unique()

array(['3', '5', '4', '2', '1'], dtype=object)

In [57]:
Flat_prices.baths.astype(int)

0      3
1      5
2      4
3      2
4      3
      ..
981    2
982    1
983    3
984    2
985    2
Name: baths, Length: 986, dtype: int32

In [58]:
Flat_prices.head()

,Price,BHK,beds,baths,balcony,Carpet Area,Floor,Transaction type,Status,Address,Furnishing,Flooring
0,₹6.0 Cr,3,3Beds,3,NaN,2300,NaN,New Property,Under Construction,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified
1,₹4.75 Cr,3,3Beds,5,NaN,2250,NaN,New Property,Ready to Move,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN
2,₹4.50 Cr,3,3Beds,4,NaN,1872,NaN,New Property,Ready to Move,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble"
3,₹1.70 Cr,3,3Beds,2,4Balconies,1450,3 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble
4,₹75.0 Lac,3,3Beds,3,1Balcony,1350,3 (Out of 5 Floors),New Property,Ready to Move,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles"

In [60]:
Flat_prices.beds.unique()

array(['3Beds', '2Beds'], dtype=object)

In [61]:
Flat_prices["beds"] = Flat_prices["beds"].str.replace('Beds','')

In [64]:
Flat_prices.beds.astype(int)

0      3
1      3
2      3
3      3
4      3
      ..
981    2
982    2
983    3
984    2
985    2
Name: beds, Length: 986, dtype: int32

In [65]:
Flat_prices.balcony.unique()

array([nan, '4Balconies', '1Balcony', '3Balconies', '2Balconies',
       '5Balconies'], dtype=object)

In [67]:
Flat_prices["balcony"] = Flat_prices["balcony"].str.replace('Balconies','')

In [68]:
Flat_prices["balcony"] = Flat_prices["balcony"].str.replace('Balcony','')

In [73]:
Flat_prices["balcony"]=Flat_prices.balcony.fillna("1")

In [74]:
Flat_prices.balcony.astype(int)

0      1
1      1
2      1
3      4
4      1
      ..
981    1
982    1
983    1
984    1
985    2
Name: balcony, Length: 986, dtype: int32

In [75]:
Flat_prices.head()

,Price,BHK,beds,baths,balcony,Carpet Area,Floor,Transaction type,Status,Address,Furnishing,Flooring
0,₹6.0 Cr,3,3,3,1,2300,NaN,New Property,Under Construction,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified
1,₹4.75 Cr,3,3,5,1,2250,NaN,New Property,Ready to Move,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN
2,₹4.50 Cr,3,3,4,1,1872,NaN,New Property,Ready to Move,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble"
3,₹1.70 Cr,3,3,2,4,1450,3 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble
4,₹75.0 Lac,3,3,3,1,1350,3 (Out of 5 Floors),New Property,Ready to Move,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles"

In [76]:
Flat_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             986 non-null    object
 1   BHK               986 non-null    object
 2   beds              986 non-null    object
 3   baths             986 non-null    object
 4   balcony           986 non-null    object
 5   Carpet Area       986 non-null    object
 6   Floor             972 non-null    object
 7   Transaction type  986 non-null    object
 8   Status            927 non-null    object
 9   Address           986 non-null    object
 10  Furnishing        984 non-null    object
 11  Flooring          724 non-null    object
dtypes: object(12)
memory usage: 92.6+ KB

In [77]:
Flat_prices.isna().sum()

Price                 0
BHK                   0
beds                  0
baths                 0
balcony               0
Carpet Area           0
Floor                14
Transaction type      0
Status               59
Address               0
Furnishing            2
Flooring            262
dtype: int64

In [89]:
Flat_prices.dropna(inplace=True)

In [81]:
Flat_prices.drop(["Flooring"],axis=1,inplace=True)

In [90]:
Flat_prices.head()

,Price,BHK,beds,baths,balcony,Carpet Area,Floor,Transaction type,Status,Address,Furnishing
3,₹1.70 Cr,3,3,2,4,1450,3 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished
4,₹75.0 Lac,3,3,3,1,1350,3 (Out of 5 Floors),New Property,Ready to Move,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished
5,₹1.95 Cr,3,3,3,4,1500,7 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 4, New Delhi, Sector 4 Dwarka, N...",Semi-Furnished
6,₹1.85 Cr,3,3,3,3,1350,6 (Out of 8 Floors),Resale,Ready to Move,"Dwarka Sector 10, New Delhi, Sector 10 Dwarka,...",Semi-Furnished
8,₹1.89 Cr,3,3,3,2,1600,4 (Out of 10 Floors),Resale,Ready to Move,"sector 13 dwarka shabad apartment, Sector 13 D...",Semi-Furnished

In [91]:
Flat_prices.isna().sum()

Price               0
BHK                 0
beds                0
baths               0
balcony             0
Carpet Area         0
Floor               0
Transaction type    0
Status              0
Address             0
Furnishing          0
dtype: int64

In [92]:
Flat_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 3 to 985
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             913 non-null    object
 1   BHK               913 non-null    object
 2   beds              913 non-null    object
 3   baths             913 non-null    object
 4   balcony           913 non-null    object
 5   Carpet Area       913 non-null    object
 6   Floor             913 non-null    object
 7   Transaction type  913 non-null    object
 8   Status            913 non-null    object
 9   Address           913 non-null    object
 10  Furnishing        913 non-null    object
dtypes: object(11)
memory usage: 85.6+ KB

In [95]:
Flat_prices.Price.unique()

array(['₹1.70 Cr', '₹75.0 Lac', '₹1.95 Cr', '₹1.85 Cr', '₹1.89 Cr',
       '₹37.0 Lac', '₹4.05 Cr', '₹2.40 Cr', '₹2.45 Cr', '₹2.10 Cr',
       '₹27.5 Lac', '₹61.5 Lac', '₹1.83 Cr', '₹1.15 Cr', '₹2.20 Cr',
       '₹1.62 Cr', '₹3.0 Cr', '₹1.20 Cr', '₹44.5 Lac', '₹2.47 Cr',
       '₹40.0 Lac', '₹30.0 Lac', '₹1.39 Cr', '₹93.0 Lac', '₹1.28 Cr',
       '₹3.15 Cr', '₹1.74 Cr', '₹4.85 Cr', '₹1.87 Cr', '₹24.5 Lac',
       '₹1.73 Cr', '₹1.92 Cr', '₹1.59 Cr', '₹22.5 Lac', '₹1.11 Cr',
       '₹1.75 Cr', '₹2.0 Cr', '₹1.90 Cr', '₹2.30 Cr', '₹21.0 Lac',
       '₹4.50 Cr', '₹2.25 Cr', '₹1.32 Cr', '₹2.05 Cr', '₹55.0 Lac',
       '₹4.25 Cr', '₹1.17 Cr', '₹1.40 Cr', '₹1.60 Cr', '₹2.35 Cr',
       '₹25.0 Lac', '₹1.64 Cr', '₹1.10 Cr', '₹4.10 Cr', '₹33.0 Lac',
       '₹2.70 Cr', '₹24.0 Lac', '₹1.30 Cr', '₹7.50 Cr', '₹5.0 Cr',
       '₹5.50 Cr', '₹59.0 Lac', '₹21.50 Cr', '₹3.25 Cr', '₹50.0 Lac',
       '₹65.0 Lac', '₹2.41 Cr', '₹4.60 Cr', '₹2.50 Cr', '₹5.99 Cr',
       '₹95.0 Lac', '₹1.26 Cr', '₹1.67 Cr', '₹1.97 Cr', '₹3.30 Cr',
       '₹4.15 Cr', '₹3.80 Cr', '₹42.5 Lac', '₹1.80 Cr', '₹1.05 Cr',
       '₹1.55 Cr', '₹6.50 Cr', '₹85.0 Lac', '₹3.60 Cr', '₹1.65 Cr',
       '₹2.60 Cr', '₹2.90 Cr', '₹2.04 Cr', '₹45.0 Lac', '₹1.12 Cr',
       '₹29.5 Lac', '₹90.0 Lac', '₹1.0 Cr', '₹1.50 Cr', '₹2.75 Cr',
       '₹70.0 Lac', '₹35.0 Lac', '₹42.0 Lac', '₹3.85 Cr', '₹47.0 Lac',
       '₹9.90 Cr', '₹2.65 Cr', '₹1.37 Cr', '₹62.0 Lac', '₹1.88 Cr',
       '₹28.0 Lac', '₹3.10 Cr', '₹26.0 Lac', '₹3.20 Cr', '₹2.15 Cr',
       '₹58.0 Lac', '₹3.35 Cr', '₹1.25 Cr', '₹29.0 Lac', '₹1.72 Cr',
       '₹4.0 Cr', '₹1.98 Cr', '₹2.85 Cr', '₹3.45 Cr', '₹68.0 Lac',
       '₹7.40 Cr', '₹14.50 Cr', '₹2.80 Cr', '₹60.0 Lac', '₹48.0 Lac',
       '₹38.0 Lac', '₹20.5 Lac', '₹1.45 Cr', '₹80.0 Lac', '₹35.2 Lac',
       '₹64.0 Lac', '₹43.0 Lac', '₹32.5 Lac', '₹19.5 Lac', '₹34.5 Lac',
       '₹3.50 Cr', '₹34.0 Lac', '₹92.0 Lac', '₹2.28 Cr', '₹1.13 Cr',
       '₹34.8 Lac', '₹2.55 Cr', '₹6.80 Cr', '₹46.0 Lac', '₹96.0 Lac',
       '₹20.0 Lac', '₹57.0 Lac', '₹19.0 Lac', '₹61.0 Lac', '₹42.4 Lac',
       '₹56.9 Lac', '₹79.0 Lac', '₹1.35 Cr', '₹72.0 Lac', '₹32.0 Lac',
       '₹81.0 Lac', '₹23.5 Lac', '₹31.0 Lac', '₹89.0 Lac', '₹36.0 Lac',
       '₹38.5 Lac', '₹1.56 Cr', '₹5.25 Cr', '₹22.0 Lac', '₹49.0 Lac',
       '₹97.0 Lac', '₹40.1 Lac', '₹3.19 Cr', '₹41.0 Lac', '₹3.40 Cr',
       '₹99.0 Lac', '₹1.99 Cr', '₹4.28 Cr', '₹1.07 Cr', '₹17.0 Cr',
       '₹6.25 Cr', '₹2.95 Cr', '₹5.10 Cr', '₹1.58 Cr', '₹82.0 Lac',
       '₹2.73 Cr', '₹69.5 Lac', '₹3.75 Cr', '₹39.5 Lac', '₹52.0 Lac',
       '₹9.15 Cr', '₹74.0 Lac', '₹1.69 Cr', '₹1.84 Cr', '₹1.68 Cr',
       '₹45.1 Lac', '₹53.5 Lac', '₹22.9 Lac', '₹71.0 Lac', '₹1.48 Cr',
       '₹4.75 Cr', '₹6.0 Cr', '₹73.0 Lac', '₹63.0 Lac', '₹5.95 Cr',
       '₹4.24 Cr', '₹1.22 Cr', '₹3.90 Cr', '₹1.41 Cr', '₹1.31 Cr',
       '₹51.0 Lac', '₹2.12 Cr', '₹2.31 Cr', '₹8.85 Cr', '₹55.5 Lac',
       '₹54.5 Lac', '₹9.50 Cr', '₹1.57 Cr', '₹5.75 Cr', '₹4.90 Cr',
       '₹7.0 Cr', '₹6.45 Cr', '₹1.38 Cr', '₹39.0 Lac', '₹1.08 Cr',
       '₹84.0 Lac', '₹1.42 Cr', '₹1.36 Cr', '₹98.0 Lac', '₹77.0 Lac',
       '₹1.06 Cr', '₹6.99 Cr', '₹1.63 Cr', '₹7.51 Cr', '₹53.0 Lac',
       '₹2.33 Cr', '₹49.5 Lac', '₹15.0 Cr'], dtype=object)

In [96]:
Flat_prices["Price"] = Flat_prices["Price"].str.replace('₹','')

In [100]:
Flat_prices.Price.unique()

array(['1.70 ', '75.0 Lac', '1.95 ', '1.85 ', '1.89 ', '37.0 Lac',
       '4.05 ', '2.40 ', '2.45 ', '2.10 ', '27.5 Lac', '61.5 Lac',
       '1.83 ', '1.15 ', '2.20 ', '1.62 ', '3.0 ', '1.20 ', '44.5 Lac',
       '2.47 ', '40.0 Lac', '30.0 Lac', '1.39 ', '93.0 Lac', '1.28 ',
       '3.15 ', '1.74 ', '4.85 ', '1.87 ', '24.5 Lac', '1.73 ', '1.92 ',
       '1.59 ', '22.5 Lac', '1.11 ', '1.75 ', '2.0 ', '1.90 ', '2.30 ',
       '21.0 Lac', '4.50 ', '2.25 ', '1.32 ', '2.05 ', '55.0 Lac',
       '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ', '25.0 Lac', '1.64 ',
       '1.10 ', '4.10 ', '33.0 Lac', '2.70 ', '24.0 Lac', '1.30 ',
       '7.50 ', '5.0 ', '5.50 ', '59.0 Lac', '21.50 ', '3.25 ',
       '50.0 Lac', '65.0 Lac', '2.41 ', '4.60 ', '2.50 ', '5.99 ',
       '95.0 Lac', '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ',
       '42.5 Lac', '1.80 ', '1.05 ', '1.55 ', '6.50 ', '85.0 Lac',
       '3.60 ', '1.65 ', '2.60 ', '2.90 ', '2.04 ', '45.0 Lac', '1.12 ',
       '29.5 Lac', '90.0 Lac', '1.0 ', '1.50 ', '2.75 ', '70.0 Lac',
       '35.0 Lac', '42.0 Lac', '3.85 ', '47.0 Lac', '9.90 ', '2.65 ',
       '1.37 ', '62.0 Lac', '1.88 ', '28.0 Lac', '3.10 ', '26.0 Lac',
       '3.20 ', '2.15 ', '58.0 Lac', '3.35 ', '1.25 ', '29.0 Lac',
       '1.72 ', '4.0 ', '1.98 ', '2.85 ', '3.45 ', '68.0 Lac', '7.40 ',
       '14.50 ', '2.80 ', '60.0 Lac', '48.0 Lac', '38.0 Lac', '20.5 Lac',
       '1.45 ', '80.0 Lac', '35.2 Lac', '64.0 Lac', '43.0 Lac',
       '32.5 Lac', '19.5 Lac', '34.5 Lac', '3.50 ', '34.0 Lac',
       '92.0 Lac', '2.28 ', '1.13 ', '34.8 Lac', '2.55 ', '6.80 ',
       '46.0 Lac', '96.0 Lac', '20.0 Lac', '57.0 Lac', '19.0 Lac',
       '61.0 Lac', '42.4 Lac', '56.9 Lac', '79.0 Lac', '1.35 ',
       '72.0 Lac', '32.0 Lac', '81.0 Lac', '23.5 Lac', '31.0 Lac',
       '89.0 Lac', '36.0 Lac', '38.5 Lac', '1.56 ', '5.25 ', '22.0 Lac',
       '49.0 Lac', '97.0 Lac', '40.1 Lac', '3.19 ', '41.0 Lac', '3.40 ',
       '99.0 Lac', '1.99 ', '4.28 ', '1.07 ', '17.0 ', '6.25 ', '2.95 ',
       '5.10 ', '1.58 ', '82.0 Lac', '2.73 ', '69.5 Lac', '3.75 ',
       '39.5 Lac', '52.0 Lac', '9.15 ', '74.0 Lac', '1.69 ', '1.84 ',
       '1.68 ', '45.1 Lac', '53.5 Lac', '22.9 Lac', '71.0 Lac', '1.48 ',
       '4.75 ', '6.0 ', '73.0 Lac', '63.0 Lac', '5.95 ', '4.24 ', '1.22 ',
       '3.90 ', '1.41 ', '1.31 ', '51.0 Lac', '2.12 ', '2.31 ', '8.85 ',
       '55.5 Lac', '54.5 Lac', '9.50 ', '1.57 ', '5.75 ', '4.90 ', '7.0 ',
       '6.45 ', '1.38 ', '39.0 Lac', '1.08 ', '84.0 Lac', '1.42 ',
       '1.36 ', '98.0 Lac', '77.0 Lac', '1.06 ', '6.99 ', '1.63 ',
       '7.51 ', '53.0 Lac', '2.33 ', '49.5 Lac', '15.0 '], dtype=object)

In [99]:
Flat_prices["Price"] = Flat_prices["Price"].str.replace('Cr','')

In [107]:
Flat_prices.rename(columns={'Price':'Price_in_Cr'},inplace=Tue)

In [127]:
Flat_prices

,Price_in_Cr,BHK,beds,baths,balcony,Carpet Area,Floor,Transaction type,Status,Address,Furnishing
3,1.70,3,3,2,4,1450,3 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished
4,75.0 /100,3,3,3,1,1350,3 (Out of 5 Floors),New Property,Ready to Move,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished
5,1.95,3,3,3,4,1500,7 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 4, New Delhi, Sector 4 Dwarka, N...",Semi-Furnished
6,1.85,3,3,3,3,1350,6 (Out of 8 Floors),Resale,Ready to Move,"Dwarka Sector 10, New Delhi, Sector 10 Dwarka,...",Semi-Furnished
8,1.89,3,3,3,2,1600,4 (Out of 10 Floors),Resale,Ready to Move,"sector 13 dwarka shabad apartment, Sector 13 D...",Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...,...
981,85.0 /100,725 Sq-ft 2,2,2,1,635,1 (Out of 4 Floors),Resale,Ready to Move,"26., Vikaspuri Block G, New Delhi - West, Delh...",Unfurnished
982,32.0 /100,2,2,1,1,350,Ground (Out of 4 Floors),Resale,Ready to Move,"DDA LIG Flats Sector 26 Dwarka Delhi, Bharthal...",Furnished
983,2.50,1850 Sq-ft 3,3,3,1,1850,2 (Out of 3 Floors),Resale,Ready to Move,"7852 punjabi bagh west, flat no., Punjabi Bagh...",Unfurnished
984,50.0 /100,150 Sq-ft 2,2,2,1,150,3 (Out of 4 Floors),Resale,Ready to Move,"E2/42 3rd Floor Nag complex, Paryavaran Compl...",Semi-Furnished
985,2.25,2,2,2,2,1250,2 (Out of 4 Floors),Resale,Ready to Move,"East Of Kailash Block E, New Delhi - South, De...",Unfurnished

In [128]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('Lac','/100')

In [132]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '75.0 /100', '1.95 ', '1.85 ', '1.89 ', '37.0 /100',
       '4.05 ', '2.40 ', '2.45 ', '2.10 ', '27.5 /100', '61.5 /100',
       '1.83 ', '1.15 ', '2.20 ', '1.62 ', '3.0 ', '1.20 ', '44.5 /100',
       '2.47 ', '40.0 /100', '30.0 /100', '1.39 ', '93.0 /100', '1.28 ',
       '3.15 ', '1.74 ', '4.85 ', '1.87 ', '24.5 /100', '1.73 ', '1.92 ',
       '1.59 ', '22.5 /100', '1.11 ', '1.75 ', '2.0 ', '1.90 ', '2.30 ',
       '21.0 /100', '4.50 ', '2.25 ', '1.32 ', '2.05 ', '55.0 /100',
       '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ', '25.0 /100', '1.64 ',
       '1.10 ', '4.10 ', '33.0 /100', '2.70 ', '24.0 /100', '1.30 ',
       '7.50 ', '5.0 ', '5.50 ', '59.0 /100', '21.50 ', '3.25 ',
       '50.0 /100', '65.0 /100', '2.41 ', '4.60 ', '2.50 ', '5.99 ',
       '95.0 /100', '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ',
       '42.5 /100', '1.80 ', '1.05 ', '1.55 ', '6.50 ', '85.0 /100',
       '3.60 ', '1.65 ', '2.60 ', '2.90 ', '2.04 ', '45.0 /100', '1.12 ',
       '29.5 /100', '90.0 /100', '1.0 ', '1.50 ', '2.75 ', '70.0 /100',
       '35.0 /100', '42.0 /100', '3.85 ', '47.0 /100', '9.90 ', '2.65 ',
       '1.37 ', '62.0 /100', '1.88 ', '28.0 /100', '3.10 ', '26.0 /100',
       '3.20 ', '2.15 ', '58.0 /100', '3.35 ', '1.25 ', '29.0 /100',
       '1.72 ', '4.0 ', '1.98 ', '2.85 ', '3.45 ', '68.0 /100', '7.40 ',
       '14.50 ', '2.80 ', '60.0 /100', '48.0 /100', '38.0 /100',
       '20.5 /100', '1.45 ', '80.0 /100', '35.2 /100', '64.0 /100',
       '43.0 /100', '32.5 /100', '19.5 /100', '34.5 /100', '3.50 ',
       '34.0 /100', '92.0 /100', '2.28 ', '1.13 ', '34.8 /100', '2.55 ',
       '6.80 ', '46.0 /100', '96.0 /100', '20.0 /100', '57.0 /100',
       '19.0 /100', '61.0 /100', '42.4 /100', '56.9 /100', '79.0 /100',
       '1.35 ', '72.0 /100', '32.0 /100', '81.0 /100', '23.5 /100',
       '31.0 /100', '89.0 /100', '36.0 /100', '38.5 /100', '1.56 ',
       '5.25 ', '22.0 /100', '49.0 /100', '97.0 /100', '40.1 /100',
       '3.19 ', '41.0 /100', '3.40 ', '99.0 /100', '1.99 ', '4.28 ',
       '1.07 ', '17.0 ', '6.25 ', '2.95 ', '5.10 ', '1.58 ', '82.0 /100',
       '2.73 ', '69.5 /100', '3.75 ', '39.5 /100', '52.0 /100', '9.15 ',
       '74.0 /100', '1.69 ', '1.84 ', '1.68 ', '45.1 /100', '53.5 /100',
       '22.9 /100', '71.0 /100', '1.48 ', '4.75 ', '6.0 ', '73.0 /100',
       '63.0 /100', '5.95 ', '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ',
       '51.0 /100', '2.12 ', '2.31 ', '8.85 ', '55.5 /100', '54.5 /100',
       '9.50 ', '1.57 ', '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ',
       '39.0 /100', '1.08 ', '84.0 /100', '1.42 ', '1.36 ', '98.0 /100',
       '77.0 /100', '1.06 ', '6.99 ', '1.63 ', '7.51 ', '53.0 /100',
       '2.33 ', '49.5 /100', '15.0 '], dtype=object)

In [135]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('75.0 /100','0.75')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\1807226211.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('75.0 /100','0.75')

In [137]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('37.0 /100','0.37')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('27.5 /100','0.275')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('61.5 /100','0.615')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('44.5 /100','0.445')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('40.0 /100','0.4')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('30.0 /100','0.3')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('93.0 /100','0.93')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('24.5 /100','0.245')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('22.5 /100','0.225')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('21.0 /100','0.21')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('37.0 /100','0.37')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('27.5 /100','0.275')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('61.5 /100','0.615')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('44.5 /100','0.445')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('40.0 /100','0.4')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('30.0 /100','0.3')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('93.0 /100','0.93')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('24.5 /100','0.245')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('22.5 /100','0.225')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2852727838.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('21.0 /100','0.21')

In [138]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '55.0 /100', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '25.0 /100', '1.64 ', '1.10 ', '4.10 ', '33.0 /100', '2.70 ',
       '24.0 /100', '1.30 ', '7.50 ', '5.0 ', '5.50 ', '59.0 /100',
       '21.50 ', '3.25 ', '50.0 /100', '65.0 /100', '2.41 ', '4.60 ',
       '2.50 ', '5.99 ', '95.0 /100', '1.26 ', '1.67 ', '1.97 ', '3.30 ',
       '4.15 ', '3.80 ', '42.5 /100', '1.80 ', '1.05 ', '1.55 ', '6.50 ',
       '85.0 /100', '3.60 ', '1.65 ', '2.60 ', '2.90 ', '2.04 ',
       '45.0 /100', '1.12 ', '29.5 /100', '90.0 /100', '1.0 ', '1.50 ',
       '2.75 ', '70.0 /100', '35.0 /100', '42.0 /100', '3.85 ',
       '47.0 /100', '9.90 ', '2.65 ', '1.37 ', '62.0 /100', '1.88 ',
       '28.0 /100', '3.10 ', '26.0 /100', '3.20 ', '2.15 ', '58.0 /100',
       '3.35 ', '1.25 ', '29.0 /100', '1.72 ', '4.0 ', '1.98 ', '2.85 ',
       '3.45 ', '68.0 /100', '7.40 ', '14.50 ', '2.80 ', '60.0 /100',
       '48.0 /100', '38.0 /100', '20.5 /100', '1.45 ', '80.0 /100',
       '35.2 /100', '64.0 /100', '43.0 /100', '32.5 /100', '19.5 /100',
       '34.5 /100', '3.50 ', '34.0 /100', '92.0 /100', '2.28 ', '1.13 ',
       '34.8 /100', '2.55 ', '6.80 ', '46.0 /100', '96.0 /100',
       '20.0 /100', '57.0 /100', '19.0 /100', '61.0 /100', '42.4 /100',
       '56.9 /100', '79.0 /100', '1.35 ', '72.0 /100', '32.0 /100',
       '81.0 /100', '23.5 /100', '31.0 /100', '89.0 /100', '36.0 /100',
       '38.5 /100', '1.56 ', '5.25 ', '22.0 /100', '49.0 /100',
       '97.0 /100', '40.1 /100', '3.19 ', '41.0 /100', '3.40 ',
       '99.0 /100', '1.99 ', '4.28 ', '1.07 ', '17.0 ', '6.25 ', '2.95 ',
       '5.10 ', '1.58 ', '82.0 /100', '2.73 ', '69.5 /100', '3.75 ',
       '39.5 /100', '52.0 /100', '9.15 ', '74.0 /100', '1.69 ', '1.84 ',
       '1.68 ', '45.1 /100', '53.5 /100', '22.9 /100', '71.0 /100',
       '1.48 ', '4.75 ', '6.0 ', '73.0 /100', '63.0 /100', '5.95 ',
       '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ', '51.0 /100', '2.12 ',
       '2.31 ', '8.85 ', '55.5 /100', '54.5 /100', '9.50 ', '1.57 ',
       '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ', '39.0 /100', '1.08 ',
       '84.0 /100', '1.42 ', '1.36 ', '98.0 /100', '77.0 /100', '1.06 ',
       '6.99 ', '1.63 ', '7.51 ', '53.0 /100', '2.33 ', '49.5 /100',
       '15.0 '], dtype=object)

In [139]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('55.0 /100','0.55')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('25.0 /100','0.25')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('33.0 /100','0.33')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('24.0 /100','0.24')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('59.0 /100','0.59')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('50.0 /100','0.50')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('65.0 /100','0.65')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\320360464.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('55.0 /100','0.55')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\320360464.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('25.0 /100','0.25')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\320360464.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('33.0 /100','0.33')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\320360464.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('24.0 /100','0.24')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\320360464.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('59.0 /100','0.59')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\320360464.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('50.0 /100','0.50')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\320360464.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('65.0 /100','0.65')

In [140]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '95.0 /100',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '42.5 /100',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '85.0 /100', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '45.0 /100', '1.12 ', '29.5 /100',
       '90.0 /100', '1.0 ', '1.50 ', '2.75 ', '70.0 /100', '35.0 /100',
       '42.0 /100', '3.85 ', '47.0 /100', '9.90 ', '2.65 ', '1.37 ',
       '62.0 /100', '1.88 ', '28.0 /100', '3.10 ', '26.0 /100', '3.20 ',
       '2.15 ', '58.0 /100', '3.35 ', '1.25 ', '29.0 /100', '1.72 ',
       '4.0 ', '1.98 ', '2.85 ', '3.45 ', '68.0 /100', '7.40 ', '14.50 ',
       '2.80 ', '60.0 /100', '48.0 /100', '38.0 /100', '20.5 /100',
       '1.45 ', '80.0 /100', '35.2 /100', '64.0 /100', '43.0 /100',
       '32.5 /100', '19.5 /100', '34.5 /100', '3.50 ', '34.0 /100',
       '92.0 /100', '2.28 ', '1.13 ', '34.8 /100', '2.55 ', '6.80 ',
       '46.0 /100', '96.0 /100', '20.0 /100', '57.0 /100', '19.0 /100',
       '61.0 /100', '42.4 /100', '56.9 /100', '79.0 /100', '1.35 ',
       '72.0 /100', '32.0 /100', '81.0 /100', '23.5 /100', '31.0 /100',
       '89.0 /100', '36.0 /100', '38.5 /100', '1.56 ', '5.25 ',
       '22.0 /100', '49.0 /100', '97.0 /100', '40.1 /100', '3.19 ',
       '41.0 /100', '3.40 ', '99.0 /100', '1.99 ', '4.28 ', '1.07 ',
       '17.0 ', '6.25 ', '2.95 ', '5.10 ', '1.58 ', '82.0 /100', '2.73 ',
       '69.5 /100', '3.75 ', '39.5 /100', '52.0 /100', '9.15 ',
       '74.0 /100', '1.69 ', '1.84 ', '1.68 ', '45.1 /100', '53.5 /100',
       '22.9 /100', '71.0 /100', '1.48 ', '4.75 ', '6.0 ', '73.0 /100',
       '63.0 /100', '5.95 ', '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ',
       '51.0 /100', '2.12 ', '2.31 ', '8.85 ', '55.5 /100', '54.5 /100',
       '9.50 ', '1.57 ', '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ',
       '39.0 /100', '1.08 ', '84.0 /100', '1.42 ', '1.36 ', '98.0 /100',
       '77.0 /100', '1.06 ', '6.99 ', '1.63 ', '7.51 ', '53.0 /100',
       '2.33 ', '49.5 /100', '15.0 '], dtype=object)

In [141]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('95.0 /100','0.95')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('42.5 /100','0.425')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('85.0 /100','0.85')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4115499422.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('95.0 /100','0.95')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4115499422.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('42.5 /100','0.425')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4115499422.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('85.0 /100','0.85')

In [142]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '0.95',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '0.425',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '0.85', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '45.0 /100', '1.12 ', '29.5 /100',
       '90.0 /100', '1.0 ', '1.50 ', '2.75 ', '70.0 /100', '35.0 /100',
       '42.0 /100', '3.85 ', '47.0 /100', '9.90 ', '2.65 ', '1.37 ',
       '62.0 /100', '1.88 ', '28.0 /100', '3.10 ', '26.0 /100', '3.20 ',
       '2.15 ', '58.0 /100', '3.35 ', '1.25 ', '29.0 /100', '1.72 ',
       '4.0 ', '1.98 ', '2.85 ', '3.45 ', '68.0 /100', '7.40 ', '14.50 ',
       '2.80 ', '60.0 /100', '48.0 /100', '38.0 /100', '20.5 /100',
       '1.45 ', '80.0 /100', '35.2 /100', '64.0 /100', '43.0 /100',
       '32.5 /100', '19.5 /100', '34.5 /100', '3.50 ', '34.0 /100',
       '92.0 /100', '2.28 ', '1.13 ', '34.8 /100', '2.55 ', '6.80 ',
       '46.0 /100', '96.0 /100', '20.0 /100', '57.0 /100', '19.0 /100',
       '61.0 /100', '42.4 /100', '56.9 /100', '79.0 /100', '1.35 ',
       '72.0 /100', '32.0 /100', '81.0 /100', '23.5 /100', '31.0 /100',
       '89.0 /100', '36.0 /100', '38.5 /100', '1.56 ', '5.25 ',
       '22.0 /100', '49.0 /100', '97.0 /100', '40.1 /100', '3.19 ',
       '41.0 /100', '3.40 ', '99.0 /100', '1.99 ', '4.28 ', '1.07 ',
       '17.0 ', '6.25 ', '2.95 ', '5.10 ', '1.58 ', '82.0 /100', '2.73 ',
       '69.5 /100', '3.75 ', '39.5 /100', '52.0 /100', '9.15 ',
       '74.0 /100', '1.69 ', '1.84 ', '1.68 ', '45.1 /100', '53.5 /100',
       '22.9 /100', '71.0 /100', '1.48 ', '4.75 ', '6.0 ', '73.0 /100',
       '63.0 /100', '5.95 ', '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ',
       '51.0 /100', '2.12 ', '2.31 ', '8.85 ', '55.5 /100', '54.5 /100',
       '9.50 ', '1.57 ', '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ',
       '39.0 /100', '1.08 ', '84.0 /100', '1.42 ', '1.36 ', '98.0 /100',
       '77.0 /100', '1.06 ', '6.99 ', '1.63 ', '7.51 ', '53.0 /100',
       '2.33 ', '49.5 /100', '15.0 '], dtype=object)

In [143]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('90.0 /100','0.90')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('70.0 /100','0.70')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('35.0 /100','0.35')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('45.0 /100','0.45')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('29.5 /100','0.295')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\3061074345.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('90.0 /100','0.90')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\3061074345.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('70.0 /100','0.70')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\3061074345.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('35.0 /100','0.35')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\3061074345.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('45.0 /100','0.45')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\3061074345.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('29.5 /100','0.295')

In [144]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '0.95',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '0.425',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '0.85', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '0.45', '1.12 ', '0.295', '0.90',
       '1.0 ', '1.50 ', '2.75 ', '0.70', '0.35', '42.0 /100', '3.85 ',
       '47.0 /100', '9.90 ', '2.65 ', '1.37 ', '62.0 /100', '1.88 ',
       '28.0 /100', '3.10 ', '26.0 /100', '3.20 ', '2.15 ', '58.0 /100',
       '3.35 ', '1.25 ', '29.0 /100', '1.72 ', '4.0 ', '1.98 ', '2.85 ',
       '3.45 ', '68.0 /100', '7.40 ', '14.50 ', '2.80 ', '60.0 /100',
       '48.0 /100', '38.0 /100', '20.5 /100', '1.45 ', '80.0 /100',
       '35.2 /100', '64.0 /100', '43.0 /100', '32.5 /100', '19.5 /100',
       '34.5 /100', '3.50 ', '34.0 /100', '92.0 /100', '2.28 ', '1.13 ',
       '34.8 /100', '2.55 ', '6.80 ', '46.0 /100', '96.0 /100',
       '20.0 /100', '57.0 /100', '19.0 /100', '61.0 /100', '42.4 /100',
       '56.9 /100', '79.0 /100', '1.35 ', '72.0 /100', '32.0 /100',
       '81.0 /100', '23.5 /100', '31.0 /100', '89.0 /100', '36.0 /100',
       '38.5 /100', '1.56 ', '5.25 ', '22.0 /100', '49.0 /100',
       '97.0 /100', '40.1 /100', '3.19 ', '41.0 /100', '3.40 ',
       '99.0 /100', '1.99 ', '4.28 ', '1.07 ', '17.0 ', '6.25 ', '2.95 ',
       '5.10 ', '1.58 ', '82.0 /100', '2.73 ', '69.5 /100', '3.75 ',
       '39.5 /100', '52.0 /100', '9.15 ', '74.0 /100', '1.69 ', '1.84 ',
       '1.68 ', '45.1 /100', '53.5 /100', '22.9 /100', '71.0 /100',
       '1.48 ', '4.75 ', '6.0 ', '73.0 /100', '63.0 /100', '5.95 ',
       '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ', '51.0 /100', '2.12 ',
       '2.31 ', '8.85 ', '55.5 /100', '54.5 /100', '9.50 ', '1.57 ',
       '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ', '39.0 /100', '1.08 ',
       '84.0 /100', '1.42 ', '1.36 ', '98.0 /100', '77.0 /100', '1.06 ',
       '6.99 ', '1.63 ', '7.51 ', '53.0 /100', '2.33 ', '49.5 /100',
       '15.0 '], dtype=object)

In [145]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('42.0 /100','0.42')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('47.0 /100','0.47')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('62.0 /100','0.62')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('28.0 /100','0.28')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('26.0 /100','0.26')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('58.0 /100','0.58')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('45.0 /100','0.45')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('29.0 /100','0.29')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('68.0 /100','0.68')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('60.0 /100','0.60')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('42.0 /100','0.42')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('47.0 /100','0.47')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('62.0 /100','0.62')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('28.0 /100','0.28')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('26.0 /100','0.26')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('58.0 /100','0.58')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('45.0 /100','0.45')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('29.0 /100','0.29')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('68.0 /100','0.68')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4036023169.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('60.0 /100','0.60')

In [146]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '0.95',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '0.425',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '0.85', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '0.45', '1.12 ', '0.295', '0.90',
       '1.0 ', '1.50 ', '2.75 ', '0.70', '0.35', '0.42', '3.85 ', '0.47',
       '9.90 ', '2.65 ', '1.37 ', '0.62', '1.88 ', '0.28', '3.10 ',
       '0.26', '3.20 ', '2.15 ', '0.58', '3.35 ', '1.25 ', '0.29',
       '1.72 ', '4.0 ', '1.98 ', '2.85 ', '3.45 ', '0.68', '7.40 ',
       '14.50 ', '2.80 ', '0.60', '48.0 /100', '38.0 /100', '20.5 /100',
       '1.45 ', '80.0 /100', '35.2 /100', '64.0 /100', '43.0 /100',
       '32.5 /100', '19.5 /100', '34.5 /100', '3.50 ', '34.0 /100',
       '92.0 /100', '2.28 ', '1.13 ', '34.8 /100', '2.55 ', '6.80 ',
       '46.0 /100', '96.0 /100', '20.0 /100', '57.0 /100', '19.0 /100',
       '61.0 /100', '42.4 /100', '56.9 /100', '79.0 /100', '1.35 ',
       '72.0 /100', '32.0 /100', '81.0 /100', '23.5 /100', '31.0 /100',
       '89.0 /100', '36.0 /100', '38.5 /100', '1.56 ', '5.25 ',
       '22.0 /100', '49.0 /100', '97.0 /100', '40.1 /100', '3.19 ',
       '41.0 /100', '3.40 ', '99.0 /100', '1.99 ', '4.28 ', '1.07 ',
       '17.0 ', '6.25 ', '2.95 ', '5.10 ', '1.58 ', '82.0 /100', '2.73 ',
       '69.5 /100', '3.75 ', '39.5 /100', '52.0 /100', '9.15 ',
       '74.0 /100', '1.69 ', '1.84 ', '1.68 ', '45.1 /100', '53.5 /100',
       '22.9 /100', '71.0 /100', '1.48 ', '4.75 ', '6.0 ', '73.0 /100',
       '63.0 /100', '5.95 ', '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ',
       '51.0 /100', '2.12 ', '2.31 ', '8.85 ', '55.5 /100', '54.5 /100',
       '9.50 ', '1.57 ', '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ',
       '39.0 /100', '1.08 ', '84.0 /100', '1.42 ', '1.36 ', '98.0 /100',
       '77.0 /100', '1.06 ', '6.99 ', '1.63 ', '7.51 ', '53.0 /100',
       '2.33 ', '49.5 /100', '15.0 '], dtype=object)

In [148]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('48.0 /100','0.48')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('38.0 /100','0.38')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('20.5 /100','0.205')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('80.0 /100','0.80')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('35.2 /100','0.352')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('64.0 /100','0.64')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4179809583.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('48.0 /100','0.48')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4179809583.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('38.0 /100','0.38')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4179809583.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('20.5 /100','0.205')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4179809583.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('80.0 /100','0.80')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4179809583.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('35.2 /100','0.352')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\4179809583.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('64.0 /100','0.64')

In [149]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '0.95',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '0.425',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '0.85', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '0.45', '1.12 ', '0.295', '0.90',
       '1.0 ', '1.50 ', '2.75 ', '0.70', '0.35', '0.42', '3.85 ', '0.47',
       '9.90 ', '2.65 ', '1.37 ', '0.62', '1.88 ', '0.28', '3.10 ',
       '0.26', '3.20 ', '2.15 ', '0.58', '3.35 ', '1.25 ', '0.29',
       '1.72 ', '4.0 ', '1.98 ', '2.85 ', '3.45 ', '0.68', '7.40 ',
       '14.50 ', '2.80 ', '0.60', '0.48', '0.38', '0.205', '1.45 ',
       '0.80', '0.352', '0.64', '43.0 /100', '32.5 /100', '19.5 /100',
       '34.5 /100', '3.50 ', '34.0 /100', '92.0 /100', '2.28 ', '1.13 ',
       '34.8 /100', '2.55 ', '6.80 ', '46.0 /100', '96.0 /100',
       '20.0 /100', '57.0 /100', '19.0 /100', '61.0 /100', '42.4 /100',
       '56.9 /100', '79.0 /100', '1.35 ', '72.0 /100', '32.0 /100',
       '81.0 /100', '23.5 /100', '31.0 /100', '89.0 /100', '36.0 /100',
       '38.5 /100', '1.56 ', '5.25 ', '22.0 /100', '49.0 /100',
       '97.0 /100', '40.1 /100', '3.19 ', '41.0 /100', '3.40 ',
       '99.0 /100', '1.99 ', '4.28 ', '1.07 ', '17.0 ', '6.25 ', '2.95 ',
       '5.10 ', '1.58 ', '82.0 /100', '2.73 ', '69.5 /100', '3.75 ',
       '39.5 /100', '52.0 /100', '9.15 ', '74.0 /100', '1.69 ', '1.84 ',
       '1.68 ', '45.1 /100', '53.5 /100', '22.9 /100', '71.0 /100',
       '1.48 ', '4.75 ', '6.0 ', '73.0 /100', '63.0 /100', '5.95 ',
       '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ', '51.0 /100', '2.12 ',
       '2.31 ', '8.85 ', '55.5 /100', '54.5 /100', '9.50 ', '1.57 ',
       '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ', '39.0 /100', '1.08 ',
       '84.0 /100', '1.42 ', '1.36 ', '98.0 /100', '77.0 /100', '1.06 ',
       '6.99 ', '1.63 ', '7.51 ', '53.0 /100', '2.33 ', '49.5 /100',
       '15.0 '], dtype=object)

In [150]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('43.0 /100','0.43')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('32.5 /100','0.325')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('19.5 /100','0.195')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('34.5 /100','0.345')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('34.0 /100','0.34')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('92.0 /100','0.92')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('34.8 /100','0.348')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('46.0 /100','0.46')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('96.0 /100','0.96')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('20.0 /100','0.20')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('19.0 /100','0.19')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('61.0 /100','0.61')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('42.4 /100','0.424')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('56.9 /100','0.569')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('79.0 /100','0.79')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('72.0 /100','0.72')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('32.0 /100','0.32')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('43.0 /100','0.43')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('32.5 /100','0.325')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('19.5 /100','0.195')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('34.5 /100','0.345')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('34.0 /100','0.34')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('92.0 /100','0.92')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('34.8 /100','0.348')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('46.0 /100','0.46')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('96.0 /100','0.96')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('20.0 /100','0.20')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('19.0 /100','0.19')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('61.0 /100','0.61')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('42.4 /100','0.424')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('56.9 /100','0.569')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('79.0 /100','0.79')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('72.0 /100','0.72')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2236428229.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('32.0 /100','0.32')

In [151]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '0.95',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '0.425',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '0.85', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '0.45', '1.12 ', '0.295', '0.90',
       '1.0 ', '1.50 ', '2.75 ', '0.70', '0.35', '0.42', '3.85 ', '0.47',
       '9.90 ', '2.65 ', '1.37 ', '0.62', '1.88 ', '0.28', '3.10 ',
       '0.26', '3.20 ', '2.15 ', '0.58', '3.35 ', '1.25 ', '0.29',
       '1.72 ', '4.0 ', '1.98 ', '2.85 ', '3.45 ', '0.68', '7.40 ',
       '14.50 ', '2.80 ', '0.60', '0.48', '0.38', '0.205', '1.45 ',
       '0.80', '0.352', '0.64', '0.43', '0.325', '0.195', '0.345',
       '3.50 ', '0.34', '0.92', '2.28 ', '1.13 ', '0.348', '2.55 ',
       '6.80 ', '0.46', '0.96', '0.20', '57.0 /100', '0.19', '0.61',
       '0.424', '0.569', '0.79', '1.35 ', '0.72', '0.32', '81.0 /100',
       '23.5 /100', '31.0 /100', '89.0 /100', '36.0 /100', '38.5 /100',
       '1.56 ', '5.25 ', '22.0 /100', '49.0 /100', '97.0 /100',
       '40.1 /100', '3.19 ', '41.0 /100', '3.40 ', '99.0 /100', '1.99 ',
       '4.28 ', '1.07 ', '17.0 ', '6.25 ', '2.95 ', '5.10 ', '1.58 ',
       '82.0 /100', '2.73 ', '69.5 /100', '3.75 ', '39.5 /100',
       '52.0 /100', '9.15 ', '74.0 /100', '1.69 ', '1.84 ', '1.68 ',
       '45.1 /100', '53.5 /100', '22.9 /100', '71.0 /100', '1.48 ',
       '4.75 ', '6.0 ', '73.0 /100', '63.0 /100', '5.95 ', '4.24 ',
       '1.22 ', '3.90 ', '1.41 ', '1.31 ', '51.0 /100', '2.12 ', '2.31 ',
       '8.85 ', '55.5 /100', '54.5 /100', '9.50 ', '1.57 ', '5.75 ',
       '4.90 ', '7.0 ', '6.45 ', '1.38 ', '39.0 /100', '1.08 ',
       '84.0 /100', '1.42 ', '1.36 ', '98.0 /100', '77.0 /100', '1.06 ',
       '6.99 ', '1.63 ', '7.51 ', '53.0 /100', '2.33 ', '49.5 /100',
       '15.0 '], dtype=object)

In [152]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('23.5 /100','0.235')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('31.0 /100','0.31')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('89.0 /100','0.89')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('36.0 /100','0.36')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('38.5 /100','0.385')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('22.0 /100','0.22')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('49.0 /100','0.49')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('97.0 /100','0.97')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('23.5 /100','0.235')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('31.0 /100','0.31')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('89.0 /100','0.89')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('36.0 /100','0.36')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('38.5 /100','0.385')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('22.0 /100','0.22')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('49.0 /100','0.49')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2603919322.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('97.0 /100','0.97')

In [153]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '0.95',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '0.425',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '0.85', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '0.45', '1.12 ', '0.295', '0.90',
       '1.0 ', '1.50 ', '2.75 ', '0.70', '0.35', '0.42', '3.85 ', '0.47',
       '9.90 ', '2.65 ', '1.37 ', '0.62', '1.88 ', '0.28', '3.10 ',
       '0.26', '3.20 ', '2.15 ', '0.58', '3.35 ', '1.25 ', '0.29',
       '1.72 ', '4.0 ', '1.98 ', '2.85 ', '3.45 ', '0.68', '7.40 ',
       '14.50 ', '2.80 ', '0.60', '0.48', '0.38', '0.205', '1.45 ',
       '0.80', '0.352', '0.64', '0.43', '0.325', '0.195', '0.345',
       '3.50 ', '0.34', '0.92', '2.28 ', '1.13 ', '0.348', '2.55 ',
       '6.80 ', '0.46', '0.96', '0.20', '57.0 /100', '0.19', '0.61',
       '0.424', '0.569', '0.79', '1.35 ', '0.72', '0.32', '81.0 /100',
       '0.235', '0.31', '0.89', '0.36', '0.385', '1.56 ', '5.25 ', '0.22',
       '0.49', '0.97', '40.1 /100', '3.19 ', '41.0 /100', '3.40 ',
       '99.0 /100', '1.99 ', '4.28 ', '1.07 ', '17.0 ', '6.25 ', '2.95 ',
       '5.10 ', '1.58 ', '82.0 /100', '2.73 ', '69.5 /100', '3.75 ',
       '39.5 /100', '52.0 /100', '9.15 ', '74.0 /100', '1.69 ', '1.84 ',
       '1.68 ', '45.1 /100', '53.5 /100', '22.9 /100', '71.0 /100',
       '1.48 ', '4.75 ', '6.0 ', '73.0 /100', '63.0 /100', '5.95 ',
       '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ', '51.0 /100', '2.12 ',
       '2.31 ', '8.85 ', '55.5 /100', '54.5 /100', '9.50 ', '1.57 ',
       '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ', '39.0 /100', '1.08 ',
       '84.0 /100', '1.42 ', '1.36 ', '98.0 /100', '77.0 /100', '1.06 ',
       '6.99 ', '1.63 ', '7.51 ', '53.0 /100', '2.33 ', '49.5 /100',
       '15.0 '], dtype=object)

In [154]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('57.0 /100','0.57')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('81.0 /100','0.81')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('40.1 /100','0.401')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('41.0 /100','0.41')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('99.0 /100','0.99')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('82.0 /100','0.82')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('69.5 /100','0.695')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('39.5 /100','0.395')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('52.0 /100','0.52')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('74.0 /100','0.74')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('57.0 /100','0.57')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('81.0 /100','0.81')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('40.1 /100','0.401')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('41.0 /100','0.41')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('99.0 /100','0.99')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('82.0 /100','0.82')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('69.5 /100','0.695')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('39.5 /100','0.395')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('52.0 /100','0.52')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2919167333.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('74.0 /100','0.74')

In [155]:
Flat_prices["Price_in_Cr"].unique()

array(['1.70 ', '0.75', '1.95 ', '1.85 ', '1.89 ', '0.37', '4.05 ',
       '2.40 ', '2.45 ', '2.10 ', '0.275', '0.615', '1.83 ', '1.15 ',
       '2.20 ', '1.62 ', '3.0 ', '1.20 ', '0.445', '2.47 ', '0.4', '0.3',
       '1.39 ', '0.93', '1.28 ', '3.15 ', '1.74 ', '4.85 ', '1.87 ',
       '0.245', '1.73 ', '1.92 ', '1.59 ', '0.225', '1.11 ', '1.75 ',
       '2.0 ', '1.90 ', '2.30 ', '0.21', '4.50 ', '2.25 ', '1.32 ',
       '2.05 ', '0.55', '4.25 ', '1.17 ', '1.40 ', '1.60 ', '2.35 ',
       '0.25', '1.64 ', '1.10 ', '4.10 ', '0.33', '2.70 ', '0.24',
       '1.30 ', '7.50 ', '5.0 ', '5.50 ', '0.59', '21.50 ', '3.25 ',
       '0.50', '0.65', '2.41 ', '4.60 ', '2.50 ', '5.99 ', '0.95',
       '1.26 ', '1.67 ', '1.97 ', '3.30 ', '4.15 ', '3.80 ', '0.425',
       '1.80 ', '1.05 ', '1.55 ', '6.50 ', '0.85', '3.60 ', '1.65 ',
       '2.60 ', '2.90 ', '2.04 ', '0.45', '1.12 ', '0.295', '0.90',
       '1.0 ', '1.50 ', '2.75 ', '0.70', '0.35', '0.42', '3.85 ', '0.47',
       '9.90 ', '2.65 ', '1.37 ', '0.62', '1.88 ', '0.28', '3.10 ',
       '0.26', '3.20 ', '2.15 ', '0.58', '3.35 ', '1.25 ', '0.29',
       '1.72 ', '4.0 ', '1.98 ', '2.85 ', '3.45 ', '0.68', '7.40 ',
       '14.50 ', '2.80 ', '0.60', '0.48', '0.38', '0.205', '1.45 ',
       '0.80', '0.352', '0.64', '0.43', '0.325', '0.195', '0.345',
       '3.50 ', '0.34', '0.92', '2.28 ', '1.13 ', '0.348', '2.55 ',
       '6.80 ', '0.46', '0.96', '0.20', '0.57', '0.19', '0.61', '0.424',
       '0.569', '0.79', '1.35 ', '0.72', '0.32', '0.81', '0.235', '0.31',
       '0.89', '0.36', '0.385', '1.56 ', '5.25 ', '0.22', '0.49', '0.97',
       '0.401', '3.19 ', '0.41', '3.40 ', '0.99', '1.99 ', '4.28 ',
       '1.07 ', '17.0 ', '6.25 ', '2.95 ', '5.10 ', '1.58 ', '0.82',
       '2.73 ', '0.695', '3.75 ', '0.395', '0.52', '9.15 ', '0.74',
       '1.69 ', '1.84 ', '1.68 ', '45.1 /100', '53.5 /100', '22.9 /100',
       '71.0 /100', '1.48 ', '4.75 ', '6.0 ', '73.0 /100', '63.0 /100',
       '5.95 ', '4.24 ', '1.22 ', '3.90 ', '1.41 ', '1.31 ', '51.0 /100',
       '2.12 ', '2.31 ', '8.85 ', '55.5 /100', '54.5 /100', '9.50 ',
       '1.57 ', '5.75 ', '4.90 ', '7.0 ', '6.45 ', '1.38 ', '39.0 /100',
       '1.08 ', '84.0 /100', '1.42 ', '1.36 ', '98.0 /100', '77.0 /100',
       '1.06 ', '6.99 ', '1.63 ', '7.51 ', '53.0 /100', '2.33 ',
       '49.5 /100', '15.0 '], dtype=object)

In [156]:
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('45.1 /100','0.451')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('53.5 /100','0.535')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('22.9 /100','0.229')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('71.0 /100','0.71')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('73.0 /100','0.73')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('63.0 /100','0.63')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('51.0 /100','0.51')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('54.5 /100','0.545')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('55.5 /100','0.555')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('39.0 /100','0.39')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('84.0 /100','0.84')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('98.0 /100','0.98')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('77.0 /100','0.77')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('53.0 /100','0.53')
Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('49.5 /100','0.495')

C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('45.1 /100','0.451')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('53.5 /100','0.535')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('22.9 /100','0.229')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('71.0 /100','0.71')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('73.0 /100','0.73')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('63.0 /100','0.63')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('51.0 /100','0.51')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('54.5 /100','0.545')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('55.5 /100','0.555')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('39.0 /100','0.39')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('84.0 /100','0.84')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('98.0 /100','0.98')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('77.0 /100','0.77')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('53.0 /100','0.53')
C:\Users\vishw\AppData\Local\Temp\ipykernel_22968\2930499999.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  Flat_prices["Price_in_Cr"] = Flat_prices["Price_in_Cr"].str.replace('49.5 /100','0.495')

In [160]:
Flat_prices["Price_in_Cr"] = Flat_prices.Price_in_Cr.astype(float)

In [161]:
Flat_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 3 to 985
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price_in_Cr       913 non-null    float64
 1   BHK               913 non-null    object
 2   beds              913 non-null    object
 3   baths             913 non-null    object
 4   balcony           913 non-null    object
 5   Carpet Area       913 non-null    object
 6   Floor             913 non-null    object
 7   Transaction type  913 non-null    object
 8   Status            913 non-null    object
 9   Address           913 non-null    object
 10  Furnishing        913 non-null    object
dtypes: float64(1), object(10)
memory usage: 85.6+ KB

In [168]:
Flat_prices["beds"] = Flat_prices.beds.astype(int)
Flat_prices["baths"] = Flat_prices.baths.astype(int)
Flat_prices["balcony"] = Flat_prices.balcony.astype(int)

In [169]:
Flat_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 3 to 985
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price_in_Cr       913 non-null    float64
 1   BHK               913 non-null    object
 2   beds              913 non-null    int32
 3   baths             913 non-null    int32
 4   balcony           913 non-null    int32
 5   Carpet Area       913 non-null    object
 6   Floor             913 non-null    object
 7   Transaction type  913 non-null    object
 8   Status            913 non-null    object
 9   Address           913 non-null    object
 10  Furnishing        913 non-null    object
dtypes: float64(1), int32(3), object(7)
memory usage: 74.9+ KB

In [176]:
Flat_prices["Carpet Area"] = Flat_prices["Carpet Area"].str.replace('sqyrd','')
Flat_prices["Carpet Area"] = Flat_prices["Carpet Area"].str.replace('sqm','')
Flat_prices["Carpet Area"] = Flat_prices["Carpet Area"].str.replace(',','')

In [177]:
Flat_prices["Carpet Area"].unique()

array(['1450', '1350', '1500', '1600', '500', '1650', '1300', '1900',
       '1750', '450', '1125', '1000', '1760', '1800', '720', '1850', '90',
       '950', '1150', '1250', '1620', '265', '620', '1050', '520', '1100',
       '1700', '75', '1200', '530', '1550', '120', '1400', '1950', '540',
       '1570', '2000', '550', '650', '208', '3200', '193', '4200', '200',
       '800', '900', '270', '1560', '2303', '810', '118', '1381', '1215',
       '217', '1637', '850', '2100', '380', '700', '600', '2200', '2150',
       '1440', '1680', '1590', '1720', '140', '495', '990', '225', '100',
       '300', '250', '1325', '2160', '1365', '1090', '920', '3000',
       '1480', '72', '890', '635', '1114', '85', '2300', '675', '55',
       '80', '750', '510', '670', '825', '960', '1520', '891', '60',
       '713', '1270', '1115', '320', '1836', '725', '1460', '1180', '858',
       '603', '803', '68', '446', '924', '968', '754', '135', '624',
       '400', '70', '610', '460', '1690', '1809', '1346', '50', '630',
       '970', '350', '935', '855', '490', '748', '715', '53', '110',
       '2250', '1120', '150', '160', '287', '525', '1170', '1605', '1380',
       '170', '425', '1190', '2700', '190', '2600', '999', '690', '179',
       '325', '1310', '210', '795', '230', '870', '668', '84', '790',
       '1278', '575', '1336', '1152', '185', '133', '1330', '882', '91',
       '115', '521', '980', '892', '62', '92', '2050', '930', '665',
       '741', '1610', '63', '390', '87', '651', '95', '740', '1802',
       '412', '625', '125', '972', '2500', '324', '1131', '184', '1953',
       '981', '3600', '280', '12000', '840', '945', '105', '702', '470'],
      dtype=object)

In [178]:
Flat_prices["Carpet Area"] = Flat_prices["Carpet Area"].astype(int)

In [179]:
Flat_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 3 to 985
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price_in_Cr       913 non-null    float64
 1   BHK               913 non-null    object
 2   beds              913 non-null    int32
 3   baths             913 non-null    int32
 4   balcony           913 non-null    int32
 5   Carpet Area       913 non-null    int32
 6   Floor             913 non-null    object
 7   Transaction type  913 non-null    object
 8   Status            913 non-null    object
 9   Address           913 non-null    object
 10  Furnishing        913 non-null    object
dtypes: float64(1), int32(4), object(6)
memory usage: 71.3+ KB

In [180]:
Flat_prices

,Price_in_Cr,BHK,beds,baths,balcony,Carpet Area,Floor,Transaction type,Status,Address,Furnishing
3,1.70,3,3,2,4,1450,3 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished
4,0.75,3,3,3,1,1350,3 (Out of 5 Floors),New Property,Ready to Move,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished
5,1.95,3,3,3,4,1500,7 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 4, New Delhi, Sector 4 Dwarka, N...",Semi-Furnished
6,1.85,3,3,3,3,1350,6 (Out of 8 Floors),Resale,Ready to Move,"Dwarka Sector 10, New Delhi, Sector 10 Dwarka,...",Semi-Furnished
8,1.89,3,3,3,2,1600,4 (Out of 10 Floors),Resale,Ready to Move,"sector 13 dwarka shabad apartment, Sector 13 D...",Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...,...
981,0.85,725 Sq-ft 2,2,2,1,635,1 (Out of 4 Floors),Resale,Ready to Move,"26., Vikaspuri Block G, New Delhi - West, Delh...",Unfurnished
982,0.32,2,2,1,1,350,Ground (Out of 4 Floors),Resale,Ready to Move,"DDA LIG Flats Sector 26 Dwarka Delhi, Bharthal...",Furnished
983,2.50,1850 Sq-ft 3,3,3,1,1850,2 (Out of 3 Floors),Resale,Ready to Move,"7852 punjabi bagh west, flat no., Punjabi Bagh...",Unfurnished
984,0.50,150 Sq-ft 2,2,2,1,150,3 (Out of 4 Floors),Resale,Ready to Move,"E2/42 3rd Floor Nag complex, Paryavaran Compl...",Semi-Furnished
985,2.25,2,2,2,2,1250,2 (Out of 4 Floors),Resale,Ready to Move,"East Of Kailash Block E, New Delhi - South, De...",Unfurnished

In [181]:
Flat_prices["BHK"].unique()

array(['3', '2', '3 ', '2 ', ' 1300 Sq-ft  2 ', ' 800 Sq-ft  2 ',
       ' 1000 Sq-ft  3 ', ' 630 Sq-ft  2 ', ' 320 Sq-yrd  3 ',
       ' 1800 Sq-ft  3 ', ' 500 Sq-ft  2 ', ' 550 Sq-ft  2 ',
       ' 750 Sq-ft  2 ', ' 1600 Sq-ft  3 ', ' 1000 Sq-ft  2 ',
       ' 900 Sq-ft  2 ', ' 1200 Sq-ft  3 ', ' 1550 Sq-ft  3 ',
       ' 600 Sq-ft  2 ', ' 2000 Sq-ft  3 ', ' 1500 Sq-ft  3 ',
       ' 1748 Sq-ft  3 ', ' 620 Sq-ft  2 ', ' 1400 Sq-ft  3 ',
       ' 648 Sq-ft  2 ', ' 1200 Sq-ft  2 ', ' 855 Sq-ft  2 ',
       ' 1150 Sq-ft  3 ', ' 2100 Sq-ft  3 ', ' 650 Sq-ft  2 ',
       ' 90 Sq-yrd  3 ', ' 135 Sq-yrd  3 ', ' 950 Sq-ft  2 ',
       ' 680 Sq-ft  3 ', ' 1300 Sq-ft  3 ', ' 91 Sq-m  2 ',
       ' 1350 Sq-ft  3 ', ' 2200 Sq-ft  3 ', ' 1900 Sq-ft  3 ',
       ' 1100 Sq-ft  3 ', ' 68 Sq-yrd  2 ', ' 445 Sq-ft  2 ',
       ' 100 Sq-yrd  3 ', ' 1160 Sq-ft  2 ', ' 675 Sq-ft  3 ',
       ' 1500 Sq-ft  2 ', ' 810 Sq-ft  3 ', ' 990 Sq-ft  2 ',
       ' 1728 Sq-ft  3 ', ' 1100 Sq-ft  2 ', ' 725 Sq-ft  2 ',
       ' 1850 Sq-ft  3 ', ' 150 Sq-ft  2 '], dtype=object)

In [187]:
Flat_prices["BHK"] = Flat_prices["BHK"].str.replace('Sq-ft','')
Flat_prices["BHK"] = Flat_prices["BHK"].str.replace('Sq-yrd','')

In [188]:
Flat_prices["BHK"].unique()

array(['3', '2', '3 ', '2 ', ' 1300   2 ', ' 800   2 ', ' 1000   3 ',
       ' 630   2 ', ' 320   3 ', ' 1800   3 ', ' 500   2 ', ' 550   2 ',
       ' 750   2 ', ' 1600   3 ', ' 1000   2 ', ' 900   2 ', ' 1200   3 ',
       ' 1550   3 ', ' 600   2 ', ' 2000   3 ', ' 1500   3 ',
       ' 1748   3 ', ' 620   2 ', ' 1400   3 ', ' 648   2 ', ' 1200   2 ',
       ' 855   2 ', ' 1150   3 ', ' 2100   3 ', ' 650   2 ', ' 90   3 ',
       ' 135   3 ', ' 950   2 ', ' 680   3 ', ' 1300   3 ',
       ' 91 Sq-m  2 ', ' 1350   3 ', ' 2200   3 ', ' 1900   3 ',
       ' 1100   3 ', ' 68   2 ', ' 445   2 ', ' 100   3 ', ' 1160   2 ',
       ' 675   3 ', ' 1500   2 ', ' 810   3 ', ' 990   2 ', ' 1728   3 ',
       ' 1100   2 ', ' 725   2 ', ' 1850   3 ', ' 150   2 '], dtype=object)

In [190]:
Flat_prices

,Price_in_Cr,BHK,beds,baths,balcony,Carpet Area,Floor,Transaction type,Status,Address,Furnishing
3,1.70,3,3,2,4,1450,3 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished
4,0.75,3,3,3,1,1350,3 (Out of 5 Floors),New Property,Ready to Move,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished
5,1.95,3,3,3,4,1500,7 (Out of 10 Floors),Resale,Ready to Move,"Dwarka Sector 4, New Delhi, Sector 4 Dwarka, N...",Semi-Furnished
6,1.85,3,3,3,3,1350,6 (Out of 8 Floors),Resale,Ready to Move,"Dwarka Sector 10, New Delhi, Sector 10 Dwarka,...",Semi-Furnished
8,1.89,3,3,3,2,1600,4 (Out of 10 Floors),Resale,Ready to Move,"sector 13 dwarka shabad apartment, Sector 13 D...",Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...,...
981,0.85,725 2,2,2,1,635,1 (Out of 4 Floors),Resale,Ready to Move,"26., Vikaspuri Block G, New Delhi - West, Delh...",Unfurnished
982,0.32,2,2,1,1,350,Ground (Out of 4 Floors),Resale,Ready to Move,"DDA LIG Flats Sector 26 Dwarka Delhi, Bharthal...",Furnished
983,2.50,1850 3,3,3,1,1850,2 (Out of 3 Floors),Resale,Ready to Move,"7852 punjabi bagh west, flat no., Punjabi Bagh...",Unfurnished
984,0.50,150 2,2,2,1,150,3 (Out of 4 Floors),Resale,Ready to Move,"E2/42 3rd Floor Nag complex, Paryavaran Compl...",Semi-Furnished
985,2.25,2,2,2,2,1250,2 (Out of 4 Floors),Resale,Ready to Move,"East Of Kailash Block E, New Delhi - South, De...",Unfurnished